/**** Book container ****/

.outer-book-container {
    display: flex;
    width: 100%;
    flex-flow: wrap;
}
.inner-book-container {
    margin: 1%;
    padding: 1%;
    display: inline-flex;
    flex-wrap: wrap;
/*    background-color: rgba(234,227,255,0.5);*/
    border: 1px solid #3E7F4F;
    text-align: center;
    height: auto;
    justify-content: center;
    min-width: 250px;
    max-width: 300px;
/*    box-shadow: 2px 2px 2px rgba(87,75,127,0.5);*/
}
.book_top, .book_bottom {
    width: 100%;
}
.book_top {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.book_top p {
    padding: 0;
    margin: 0;
    width: 100%;   
}
.book_top p:nth-of-type(2) {
    position: absolute;
    bottom: 5px;
}

p.book_title {
    font-size: 18px;
}

/**** Update form ****/
.form-edit, .form-add{
    width: 30%;
    min-height: 100%;
    margin: 0 auto;
}
#update {
    float: right;
}
.buttonlink, .buttonlink:hover, .buttonlink:visited {
    text-decoration: none;
    color: white;
}
#errorsection {
    margin-left: -10px;
    font-size: 20px;
}
.container.login {
    padding-top: 80px;
}