/**** CSS Reset and base font set ****/
html, body, header, nav, footer, section, form, fieldset, label, input, textarea, p, div, h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;   
}
html {
    font-size: 14px;
    font-family: sans-serif;
}
h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 100px;
    padding: 1%;
    color: #373737;
}
h2 {
    padding: 1%;
    font-family: 'Gloria Hallelujah', cursive;
}
/** Changing some bootstrap **/
.bg-inverse {
    background-color: #C38888 !important
}
.navbar {
    margin-bottom: 0;
    border: 1px solid #C38888;
}
.navbar-inverse {
    border-color: #C38888;
}
.nav-item.nav-link.active:hover {
    color: #372727;
}
@media (min-width: 768px){
    .navbar {
        border-radius: 0;    
    }
}
.navbar-inverse .navbar-brand {
    color: #372727;
}
.btn-primary {
    background-color: #373737;
    border-color: #373737;
    margin-bottom: 1%;
}
.btn-primary:hover, btn-primary:focus, btn-primary:active {
    background-color: #C38888;
    border-color: #C38888;
}
.form-control:focus {
    border: 1px solid rgba(195,136,136,0.6);
}

/**** Flex container ****/

.flex-container {
    display: flex;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
header {
    background-image: url(../img/banner.jpg);
    text-align: center;
    height: 150px;
    order: 2;
}
nav {
    order: 1;
}
.page-flex-container {
    background-color: #FCFCFC;
    order: 3;
    width: 100%;
}
footer {
    background-color: #372727;
    color: white;
    text-align: center;
    height: 80px;
    order: 4;
    padding: 1%;
}
.outer-book-container {
    display: flex;
    width: 100%;
    flex-flow: wrap;
}
.inner-book-container {
    margin: 1%;
    padding: 1%;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: rgba(183,183,183,0.3);
    border: 1px solid rgba(183,183,183,0.3);
    text-align: center;
    height: auto;
    justify-content: center;
    min-width: 250px;
    max-width: 300px;
    box-shadow: 2px 2px 2px rgba(195,136,136,0.5);
}
.book_top, .book_bottom {
    width: 100%;
}
.book_top {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.book_top p {
    padding: 0;
    margin: 0;
    width: 100%;
    
}
.book_top p:nth-of-type(2) {
    position: absolute;
    bottom: 5px;
}
/**** Login form ****/
.login-form {
    height: 700px;
    width: 50%;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 10%;
    padding-bottom: 10%;
}

/***** Index page *****/
p.book_title {
    font-size: 18px;
}

/**** Update form ****/
.form-edit, .form-add{
    width: 30%;
    min-height: 100%;
    margin: 0 auto;
}
#update {
    float: right;
}
.buttonlink, .buttonlink:hover, .buttonlink:visited {
    text-decoration: none;
    color: white;
}